footer {
    margin-top: 3rem;
}

.post_list {
    display: flex;
    margin-top: 1rem;
}

.post_list .posts {
    display: flex;
    width: 70%;
    height: fit-content;
    flex-wrap: wrap;
}

.pop {
    width: 40%;
    justify-content: center;
}


.view_count {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.pagination {
    margin-top: 2rem;
    display: flex;
    width: 50%;
    justify-content: center;
}
.card {
    margin-bottom: 1rem;
}
.list-group {
    width: 90%;
    margin-bottom: 2rem;
    padding-left: 3rem;
}

.post_by_category {
    display: flex;
    width: 90%;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.post {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}