{% include 'blog/nav_bar.html' %}

<div class="container" style="margin-top: 2rem">
    <h2>By category: {{ category }}
    <p style="margin-top: 1rem">
    {% for c in category_by_name %}
    <img src="{{ c.image.url }}" alt="" style="width: 3rem"></p>
    {{ c.body }}
    {% endfor %}
    </h2>


</div>

<div class="post_by_category">
{% for post in post_list_by_category %}
    <div class="card" style="width: 18rem; margin-right: 1rem; margin-left: 1rem;">
      <img src="{{ post.image.url }}" style="height: 13rem">
      <div class="card-body">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="card-text">{{ post.body|truncatewords:20|linebreaks }}</p>
      </div>
    </div>
{% endfor %}
</div>
{% block paginator %}
     {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}

{% include 'blog/footer.html' %}