
{% block contact_form %}
<h4>Subscribe to the newsletter</h4>

<form method="post" action=".">
  <div class="form-group">
     {% csrf_token %}
    {{ contact_form.as_p }}
  </div>
  <button type="submit" class="btn btn">Submit</button>
</form>
{% endblock %}




