{% include 'blog/nav_bar.html' %}
{% block content %}



<div class="post">
<div class="container">
    <img src="{{ post.image.url }}">
</div>

<div class="container">
    <h1>{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|linebreaks }}
    <div class="view_count">

     <span class="count">
        {{ total_views }} view{{ total_views|pluralize }}
    </span>

</div>
{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}
<div class="total_comments">
<div class="all_comment">
{% for comment in comments %}
<div class="comment">

<div class="list-group">
<p class="list-group-item list-group-item-action active">
Comment {{ forloop.counter }} by {{ comment.name }}
</p>
<p>{{ comment.created }}
{{ comment.body|linebreaks }}</p>

</div>


</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}
</div>
</div>
</div>

</div>



{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
<div class="container">
<h2>Add a new comment</h2>
    <form action="." method='post'>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Add comment">
    </form>
</div>
{% endif %}


{% endblock %}

{% include 'blog/footer.html' %}