{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block carousel %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for c in carousel %}
    <div class="carousel-item {% if forloop.first %} active{% endif %}">
      <img src="{{ c.image.url }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}


{% block content %}
{% for post in posts %}

    <div class="card" style="width: 18rem; margin-right: 1rem; margin-left: 1rem;">
      <img src="{{ post.image.url }}" style="height: 13rem">
      <div class="card-body">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="card-text">{{ post.body|truncatewords:20|linebreaks }}</p>

          <p>Category:<a href="{{ post.category.get_absolute_url_category }}"> {{ post.category }}</a></p>

      </div>
    </div>
{% endfor %}
{% endblock %}


{% block paginator %}
     {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}

{% block categories %}
    {% for category in categories %}

            <li class="list-group-item">
                <img src="{{ category.image.url }}" alt="" style="width: 2rem">
                <a href="{{ category.get_absolute_url_category }}">{{ category.name }}</a>
                <p>{{ category.body|truncatewords:20|linebreaks }}</p>
            </li>
    {% endfor %}
{% endblock %}

{% block best %}
    {% for best in most_viewed %}
        <li class="list-group-item">
            <img src="{{ best.image.url }}" style="height: 6rem"/>
            <a href="{{ best.get_absolute_url }}">{{ best.title }}</a>
            <p>{{ best.body|truncatewords:20|linebreaks }}</p>
        </li>
    {% endfor %}
{% endblock %}

{% block more_comments %}
{% get_most_commented_posts as most_commented_posts %}

    {% for post in most_commented_posts %}
        <li class="list-group-item">
            <img src="{{ post.image.url }}" style="height: 6rem"/>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <p>{{ post.body|truncatewords:20|linebreaks }}</p>
        </li>
    {% endfor %}

{% endblock %}

