{% include 'blog/nav_bar.html' %}
{% load blog_tags %}
{% load static %}


{% block carousel %}

{% endblock %}



<div class="post_list">
    <div class="posts">
        {% block content %}{% endblock %}
    </div>
    <div class="pop">
        <ul class="list-group">
            <li class="list-group-item active">Categories</li>
            {% block categories %}{% endblock %}
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">Best posts</li>
            {% block best %}{% endblock %}
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">Most commented posts</li>
            {% block more_comments %}{% endblock %}
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">Distribution</li>
            {% block contact_form %}
                <li class="list-group-item active">
                {% include 'blog/post/contact_form.html' %}
                </li>
            {% endblock %}
        </ul>

    </div>
</div>





 <div class="paginator">
    {% block paginator %}{% endblock %}
 </div>




{% include 'blog/footer.html' %}