{% load static %}
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
</body>
</html>
<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
