{% block paginator %}


<div class="pagination">
<span class="step-links">
{% if posts.has_previous %}
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}
<span class="current">
Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
</span>
{% if posts.has_next %}
<a href="?page={{ posts.next_page_number }}">Next</a>
{% endif %}
</span>
</div>
{% endblock %}